*{
    margin: 0;
    padding: 0;
}




.container{
    display:flex;
    border: 2px double black;
    height: 600px;
    width:1200px;
    flex-direction:row-reverse;
    flex-wrap: wrap;
background-color: rgb(209, 196, 172);
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 30px,30px;
}
.item{
    height:100px;
    width:200px;
    border: 2px dotted rgb(16, 20, 2);
    background-color: rgb(184, 233, 252);
    flex-grow: 1;
}
.item4{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}