body {
  background-color: rgb(250, 250, 243);
   text-align: left;
  margin: 40px;
  border: 2px solid black;
width: 500px;
padding: 20px;
}
.mainbox {
     border: 2px solid black;

}

.outer-box {
  background-color: blue;     
  border: 2px solid black;
  padding: 30px;
  display: inline-block;
  width: 400px;
 
}

.inner-box {
  background-color: yellow;     
  color:black;
  padding: 20px 40px;
  border: 1px solid black;
}